* {
    /* box-sizing: border-box; */
    box-sizing: content-box;
}

body {
    margin: 0;
}

/* header {
    height: 60px;
    background-color: #222831;
    width: 100%;
    text-align: center;
    padding-top: 20px;
} */

nav a {
    color: white;
    padding: 0 10px 0 10px;
    text-decoration: none;
}

header a:hover {
    color: #4f8a8b;
}

.jumbotron {
    height: 500px;
}
.jumbptron-container {
    text-align: center;
}
.jumbptron-container h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 6rem;
    font-weight: bold;
}

.content {
    top: 50px;
}

.profile-image {
    width: 100%;
}

.avatar-image {
    width: 40px;
    border-radius: 20px;
    border:2px solid #009aab;
}

.avatar-transition-dark {
    transition: border-color 0.5s ease;
    border-color: rgba(0, 154, 171, 1.0)      
}
.avatar-transition-light {
    transition: border-color 0.5s ease;
    border-color: rgba(0, 154, 171, 0.0)   
}

.code-area {
    font-family: monospace;
}
